$primaria-aço-A300: rgba(0,0,0,1.00);
$primaria-aço-A200: rgba(26,25,24,1.00);
$primaria-aço-A100: rgba(45,44,42,1.00);
$primaria-aço-900: rgba(70,70,65,1.00);
$primaria-aço-800: rgba(95,94,87,1.00);
$primaria-aço-700: rgba(128,127,118,1.00);
$primaria-aço-600: rgba(150,149,140,1.00);
$primaria-aço-500: rgba(180,179,168,1.00);
$primaria-aço-400: rgba(207,207,195,1.00);
$primaria-aço-300: rgba(229,229,222,1.00);
$primaria-aço-200: rgba(244,244,240,1.00);
$primaria-aço-100: rgba(255,255,255,1.00);
$primaria-meoo-100: rgba(192,242,154,1.00);
$primaria-meoo-200: rgba(179,239,134,1.00);
$primaria-meoo-300: rgba(167,236,114,1.00);
$primaria-meoo-400: rgba(154,233,93,1.00);
$primaria-meoo-500: rgba(142,231,73,1.00);
$primaria-meoo-600: rgba(129,228,53,1.00);
$primaria-meoo-700: rgba(116,205,48,1.00);
$primaria-meoo-800: rgba(103,182,42,1.00);
$primaria-meoo-900: rgba(90,160,37,1.00);
$primaria-meoo-A100: rgba(77,136,32,1.00);
$primaria-meoo-A200: rgba(65,113,26,1.00);
$primaria-localiza-A200: rgba(4,33,25,1.00);
$primaria-localiza-A100: rgba(4,43,31,1.00);
$primaria-localiza-900: rgba(2,60,42,1.00);
$primaria-localiza-800: rgba(0,75,52,1.00);
$primaria-localiza-700: rgba(4,94,56,1.00);
$primaria-localiza-600: rgba(0,112,58,1.00);
$primaria-localiza-500: rgba(0,126,66,1.00);
$primaria-localiza-400: rgba(0,140,73,1.00);
$primaria-localiza-300: rgba(0,152,74,1.00);
$primaria-localiza-200: rgba(0,168,82,1.00);
$primaria-localiza-100: rgba(3,181,89,1.00);
$secundaria-riacho-300: rgba(45,88,83,1.00);
$secundaria-riacho-200: rgba(85,212,199,1.00);
$secundaria-riacho-100: rgba(131,217,208,1.00);
$secundaria-quindim-300: rgba(102,87,23,1.00);
$secundaria-quindim-200: rgba(255,223,89,1.00);
$secundaria-quindim-100: rgba(239,195,17,1.00);
$secundaria-lima-300: rgba(60,100,34,1.00);
$secundaria-lima-200: rgba(158,239,106,1.00);
$secundaria-lima-100: rgba(182,240,144,1.00);
$secundaria-goiaba-300: rgba(114,44,29,1.00);
$secundaria-goiaba-200: rgba(244,121,96,1.00);
$secundaria-goiaba-100: rgba(242,137,115,1.00);
$rubik-medium: Rubik Medium;
$rubik-regular: Rubik Regular;
$montserrat-bold: Montserrat Bold;
$font-size-12: 14px;
$font-size-11: 12px;
$font-size-10: 10px;
$font-size-9: 8px;
$font-size-8: 16px;
$font-size-7: 18px;
$font-size-6: 20px;
$font-size-5: 60px;
$font-size-4: 32px;
$font-size-3: 48px;
$font-size-2: 52px;
$font-size-1: 64px;
$spacing-xxs: 4px;
$spacing-xs: 8px;
$spacing-s: 16px;
$spacing-m: 24px;
$spacing-xm: 32px;
$spacing-xxm: 40px;
$spacing-l: 48px;
$spacing-xl: 56px;
$spacing-xxl: 64px;
$spacing-xxxl: 80px;
$border-radius-s: 20px;
$border-radius-m: 24px;
$border-radius-l: 32px;
$border-radius-xl: 60px;
$shadow-regular:
        0px 
        20px 
        20px 
         rgba(0, 
            0, 
            0, 
            0.15000000596046448);